---
import BaseLayout from './BaseLayout.astro';
import Header from '../components/Header.astro';
---
<BaseLayout title="홈">
  <div class="page-wrapper">
    <Header />
    <slot />
  </div>
</BaseLayout>
